language: python
# env:
#   - BOTO_CONFIG=/dev/null
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - npm install -g serverless
  - npm install --save serverless-wsgi 
  - npm install --save serverless-python-requirements
  - sls plugin install -n serverless-wsgi
  - sls plugin install -n serverless-python-requirements 
script:
  - python -m pytest -v
deploy:
  # skip_cleanup: true
  provider: script
  script: serverless deploy --stage dev
  on:
    branch: master